*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('./background.jpg');
    min-height: 100vh;
    background-size: cover;
    color: white;
    padding: 20px;
    font-family: 'Poppins', sans-serif ;  
}

header{
    font-size: 1.5rem;
}

header,
form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;;
}

form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: #fff;
    outline: none;
    transition: all .4s ease-in-out;
}


form button{
    color: rgb(53, 53, 133);
    background: #fff;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    width: 60px;
}

form button:hover{
    background: rgb(53, 53, 133);
    color: #fff;
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list{
    min-width: 32%;
    list-style: none;
}

.todo{
    margin: 0.5rem;
    background: #fff;
    color: black;
    display: flex;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo li{
    /* makes the button to the one side(left) */
    flex: 1; 
}

.trash-btn,
.complete-btn{
    background: rgb(53, 53, 133);
    color: #fff;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.complete-btn{
    background: green;
}

.todo-item{
    padding: 0rem 0.5rem;
}

.fa-trash, .fa-check{
    pointer-events: none
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}

.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}